*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.login{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 100vh;
}
.login .imagen{
    width: calc(100% - 560px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
  }

.login .frm-login{
    border: 1px skyblue solid ;
    width: 560px;
    min-height: 100vh;
    padding: 150px 55px 55px 55px;
    
}
.login .frm-login h1{
    text-align: center;
    margin-bottom: 40px;
}

